@model HomeModel
@{
	ViewData["Title"] = "Confirmação de excluir o convidado";
}

<div class="text-center">
	<h3>Realmente deseja apagar o contato (Exemplo)?</h3>
</div>
<br />
<a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>