@model ContatoModel
@{
	ViewData["Title"] = "Listagem de convidados";
}

<div class="text-center">

	<h1 class="display-4">Cadastrar convidado</h1>

</div>

<form asp-controller="Contato" asp-action="Criar" method="post">
	<div class="form-group">
		<label for="nome">Nome</label>
		<input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do convidado">
		@Html.ValidationMessageFor(x => x.Nome)
	</div>
	<div class="form-group">
		<label for="email">E-mail</label>
		<input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do convidado">
		@Html.ValidationMessageFor(x => x.Email)
	</div>
	<div class="form-group">
		<label for="celular">Celular</label>
		<input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular do convidado">
		@Html.ValidationMessageFor(x => x.Celular)
		<small class="form-text text-muted">Digite o telefone com o DDD, conforme exemplo: 11 947238106</small>
		
	</div>
	<button type="submit" class="btn btn-primary btn-block">Adicionar</button>
	<a class="btn btn-secondary btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>



