@model HomeModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Olá, @Model.Nome</h1>
    <p>Esse é o site para listar e organizar tudo o que precisará para o casamento.</p>
    <span>Seu email é: @Model.Email</span>
</div>
